/* GLOBAL STYLES */
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', "Arial",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px
}
/* CONTAINER STYLES */
.container {
    width: 100%;
    padding: 0px 20px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.orange-btn{
    padding: 12px 24px;
    background-color: #ff7500;
    border-radius: 4px;
    font-weight: 700;
    font-style: 13px;
    color: #fff; 
    line-height:  15.23px;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: inline-block;
}
.orange-btn:hover{
    opacity: 0.8;
}
.orange-btn:active{
    opacity: 0.6;
}
.orange-hr {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    border: none;
    margin: 0;
}

/* HEADER SECTION STYLES */
.header {
    padding: 16px 0px;
    border-top: 5px solid #ff7500;
}.header__container{
    display: flex;
    align-items: center;
}
.header__logo {
    text-decoration: none;
    display: inline-block;
}
.header__logo:hover{
    opacity: 0.8;
}

.header__logo:active{
    opacity: 0.6;
}
.header__logo-img {
    display: flex;
    width: 227px;
    height: 60px;
}
.header__nav-list {
    display: flex;
    list-style: none;
    margin-left: auto;
}
.header__nav-list-item {
    margin-right: 32px;
    position: relative;
}
.header__active::after{
    content:"";
    background-color: #ff7500;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
}
.header__nav-list-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: 1px;
}
.header__nav-list-item a:hover{
    color: #ff7500;
}
.header__nav-list-item a:active{
    opacity: 0.6;
}
.header__nav-list-item a:active:active{
    opacity: 0.6;
}


/* MAIN SECTION STYLE */
.main {
}

/* HERO SECTION STYLE */
.hero {
    background-color: #252420;
    color: #fff;
    padding: 80px 0px 78px 0px;
}
.hero__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero__text-wrapper {
    width: 387px;
}

.hero__title {
    margin-top: 40px;
    margin-bottom: 24px;
    font-family: 'Roboto Condensed', "Arial", sans-serif;
    font-weight: 700px;
    line-height: 48px;
    font-size: 40px;
}
.hero__text {
    margin-bottom: 32px;
}
.hero__img {
    width: 510px;
    height: 510px;
    border-radius: 12px;
    filter: drop-shadow(24px 24px 0px rgba(255, 117, 0, 0.6))
}


/* FEAUTERS SECTION STYLE */

.feauters{
    padding: 210px 0;
    background-color: #fff;
}
.feauters__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 86.4px;
    margin-top: 24px;
    margin-bottom: 72px;
}
.feauters__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feauters__list-item {
    width: 340px;
    list-style-type: none;
}
.feauters__icon-span {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:rgba(255, 117, 0, 0.2)

}
.feauters__list-title {
    margin-top: 32px;
    margin-bottom: 12px;
    font-family: 'Roboto Condensed', "Arial", sans-serif;
    font-weight: 700px;
    font-size: 24px;
    line-height: 28.8px;

}
.feauters__list-text {
    width: 314px;
}

/* SALE CONTENT STYLES */

.sale-content {
    background-color:#252420;
    padding: 64px;
    border-radius: 12px;
    color: #fff;
    border: radius 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 160px ;
}
.sale-content__text-wrapper {
    width: 440px;
}
.sale-content__title {
    width: 397px;
    margin-bottom: 24px;
    font-family: 'Roboto Condensed', "Arial", sans-serif;
    font-weight: 700px;
    font-size: 40px;
    line-height: 48px;

}
.sale-content__text-two {
    margin-bottom: 24px;
}
.sale-content__text {
    margin-bottom: 16px;
}

.orange-span {
    color: #ff7500;
}

.sale-content__img {
    width: 440px;
    height: 440px;
    border-radius: 12px;
    margin-top: -149px;
}

/* FOOTER SECTION STYLES*/
.footer {
        background-color: #fff;
        padding: 56px;
}
/* FOOTER TOP SECTION STYLES */
.footer__top-section {
    margin-bottom: 40px;
}
.footer__top-section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer__logo {
    display: inline-block;
}
.footer__logo:hover{
    opacity: 0.8;
}
.footer__logo:active{
    opacity: 0.6;
}
.footer__logo-img {
    width: 227px;
    height: 60px;
    display: flex;
}
.footer__top-social-media {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.footer__top-social-media-item {
    margin-right: 16px;
}
.footer__top-social-media-item:last-child{
    margin-right: 0;
}
.footer__top-social-media-item a {
    text-decoration: none;
    color: #252420;
    font-size: 24px;
}
.footer__top-social-media-item a:hover{
    color: #ff7500;
}
.footer__top-social-media-item a:active{
    opacity: 0.6;
}
    

/* FOOTER HR */
.footer-hr {
    height: 2px;
    background-color:rgba(37, 36, 32, 0.5) ;
    margin-bottom: 64px;
}
.footer__bottom-container{
    display: flex;
    justify-content: space-between;
}
.footer__bottom-section {
    width: 224px;
}
.footer__bottom-section-item {
    list-style-type: none;
    margin: 16px;;
}
.footer__bottom-section-item:last-child {
}
.footer__bottom-section-item a {
    text-decoration: none;
    color: #252420;
    line-height: 18.25px;
}
.footer__bottom-section-item a:hover{
    color: #ff7500;
}
.footer__bottom-section-item a:active{
    opacity: 0.6;